@model eBooks_MVC.Models.CarteViewModel

<h2>Confirmare stergere</h2>

<p>Esti sigur ca vrei sa stergi cartea: <strong>@Model.titlu</strong>?</p>

@using (Html.BeginForm("Delete", "Carti", FormMethod.Post))
{
    @Html.HiddenFor(m => m.id_carte)
    <button type="submit" class="btn btn-danger">Sterge</button>
    @Html.ActionLink("Renunta", "Index", null, new { @class = "btn btn-secondary" })
}
