@model IEnumerable<eBooks_MVC.Models.CarteViewModel>

<h2>Lista Carti</h2>

<p>
    @Html.ActionLink("Adauga carte noua", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Titlu</th>
            <th>Descriere</th>
            <th>Autor</th>
            <th>Actiuni</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var carte in Model)
        {
            <tr>
                <td>@carte.titlu</td>
                <td>@carte.descriere</td>
                <td>@carte.nume_autor</td>
               
            </tr>
        }
    </tbody>
</table>
