@{
    ViewBag.Title = "Panou Admin";
}

<h2>Panou Administrare</h2>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Gestionare Categorii</h3>
            </div>
            <div class="panel-body">
                <p>Gestionati categoriile de carti din sistem.</p>
                @Html.ActionLink("Vezi Categorii", "Categorie", "Admin", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Gestionare Carti</h3>
            </div>
            <div class="panel-body">
                <p>Gestionati cartile din sistem.</p>
                @Html.ActionLink("Vezi Carti", "Carte", "Admin", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>

